; {{ ansible_managed }}
; {{ __certs__.dns_provider | capitalize }} API Credentials

{% if __certs__.dns_credentials is defined and __certs__.dns_credentials != {} %}
  {% for key, value in __certs__.dns_credentials.items() %}
{{ key }} = {{ value }}
  {% endfor %}
{% endif %}

